<% include partials/head.ejs %>

<section class="loader">
	<section>

	  <div class="sk-cube-grid">
	    <div class="sk-cube sk-cube1"></div>
	    <div class="sk-cube sk-cube2"></div>
	    <div class="sk-cube sk-cube3"></div>
	    <div class="sk-cube sk-cube4"></div>
	    <div class="sk-cube sk-cube5"></div>
	    <div class="sk-cube sk-cube6"></div>
	    <div class="sk-cube sk-cube7"></div>
	    <div class="sk-cube sk-cube8"></div>
	    <div class="sk-cube sk-cube9"></div>
	  </div>

		<span class="logo"></span>
		
	</section>
</section>

<section id="overview">

	<% for(var i = 0; i < residences.Objects.length; i++) {%>

	  <article>
			<img src="<%= residences.Objects[i].FotoLarge %>" alt="" />
			<h1><a href="/residences/<%= residences.Objects[i].Id%>"><%= residences.Objects[i].Adres %></a></h1>
			<p><%= residences.Objects[i].Postcode %> <%= residences.Objects[i].Woonplaats %></p>
			<p><%- residences.Objects[i].PrijsGeformatteerdHtml %></p>
			<p>Aantal kamer: <%= residences.Objects[i].AantalKamers %></p>
	  </article>
	<% } %>

</section>

<section id="filtered"></section>

<% include partials/footer.ejs %>
